{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row mt-5 border border-1">
      <h4>Name of the customer:{{u}}</h4>
      {% for i in o %}
      <div class="col-sm-4 me-5">
      <img src="{{ i.product.image.url }}"  height="200px" width="200%">
    </div>
    <div class="col-sm-6 me-5 text-center">
       <b>Product name:{{i.product.name}}</b><br>
        <b>Product Price:{{i.product.price}}</b><br>
        <b>Delivery_address:{{i.address}}</b><br>
        <b>Customer Phone:{{i.phone}}</b><br>
        <b>Product name:{{i.product.name}}</b><br>
        <b>Order on:{{i.ordered_date}}</b><br>
        <b class="text-success">Delivery_status{{ i.delivery.status}}</b>
        {% endfor %}
    </div>

  </div>
</div>


{% endblock %}